SERVER_PORT=9090
SERVER_ADDRESS=127.0.0.1

SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/db_animal?useUnicode=true&characterEncoding=utf8&autoReconnect=true&useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=animal
SPRING_DATASOURCE_PASSWORD=change_me

FILES_UPLOAD_PATH=/opt/animal/server/uploads/
FILES_ACCESS_BASE_URL=/api
